{% extends 'base.html' %}

{% block title %}Log In to Xanula{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mb-20 mt-10 px-6 py-8 bg-white shadow-lg rounded-lg">
    <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-6">Log In to Xanula</h2>
    
    <form method="post" class="space-y-6">
        {% csrf_token %}
        
        {% if messages %}
            <ul class="mb-4 text-red-600">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div>
            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required
                class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-300 ease-in-out">
        </div>
        
        <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" required
                class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-300 ease-in-out">
        </div>
        
        <div class="flex items-center justify-between">
            <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-full shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-300 ease-in-out">
                Sign In
            </button>
        </div>
        
        <div class="text-center mt-4">
            <a href="{% url 'accounts:signup' %}" class="text-sm text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Signup instead</a>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'accounts:password_reset' %}" class="text-sm text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Forgot Password?</a>
        </div>
    </form>
</div>
{% endblock %}
